/* ______________________________________________________________________________POLICES___________________________________________________________________________*/
@font-face {
  font-family: "Barlow";
  src: url("/police/Barlow/woff2/Barlow-Regular.woff2") format("woff2"),
      url("/police/Barlow/woff/Barlow-Regular.woff") format("woff"),
      url("/police/Barlow/ttf/Barlow-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Barlow";
  font-weight: 500;
  src: url("/police/Barlow/woff2/Barlow-Medium.woff2") format("woff2"),
      url("/police/Barlow/woff/Barlow-Medium.woff") format("woff"),
      url("/police/Barlow/ttf/Barlow-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Barlow";
  font-weight: 700;
  src: url("/police/Barlow/woff2/Barlow-Bold.woff2") format("woff2"),
      url("/police/Barlow/woff/Barlow-Bold.woff") format("woff"),
      url("/police/Barlow/ttf/Barlow-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Barlow";
  font-weight: 800;
  src: url("/police/Barlow/woff2/Barlow-ExtraBold.woff2") format("woff2"),
      url("/police/Barlow/woff/Barlow-ExtraBold.woff") format("woff"),
      url("/police/Barlow/ttf/Barlow-ExtraBold.ttf") format("truetype");
}

/* ______________________________________________________________________________DEFINITIONS GENERAL PARAMETERS___________________________________________________________________________*/
* {
  box-sizing: border-box;
}

body{
  font-family: "Barlow";
  line-height: 140%;
}

main{
  display: flex;
  flex-direction: column;
}

/* ICON SVG */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

svg{
  width:0; 
  height: 0;
}
/* ICON SVG */


/* SECTIONS */
.sectioncarroussel{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 140%;
  padding: 5vh 7vw;
}
/* SECTIONS */


/* TITRES ET TEXTES */
h3,h1,h4,h5,h6{
  text-transform: uppercase;
  font-weight: 700;
  line-height: 140%;
}
h1{
  margin-top: 8vh;
  font-size: 30px;
}
h2{
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
}
h3{
  font-size: 24px;
  margin: 3vh 0;
}
h6{
  font-size: 14px;
}
a{
  font-weight: 500;
  color: #FF9900;
}
p{
  font-size: 16px;
  line-height: 140%;
  margin: 15px 0;
}
strong{
  font-weight: 700;
}

/* TITRES ET TEXTES */

/* BONTON S'ABONNER */
.subscribemenuphone{
  padding: 1vh 0;
  width: 155px;
  font-size: 13px;
}
.subscribemenupc{
  padding: 1.5vh 1vw;
  font-size: 100%;
}
.subscribegeneral{
  height: 53px;
  width: 204px;
  margin: 20px 0;
}
.btnsubscribe{
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #FF9900;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
}

.btnsubscribe:hover{
  background-color: white;
  border: #FF9900 2px solid;
  color: #FF9900;
}

/* BONTON S'ABONNER */

/* ______________________________________________________________________________HEADER___________________________________________________________________________*/

header{
  background-color:white;
  display: flex;
  height: 10vh;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  position: sticky;
  top:0;
  z-index: 5;
  align-items: center;
  justify-content: space-around;
}

.icon-Logo{
  font-size: 400%;
}

.userandbasket{
  display: flex;
  list-style: none;
}
.icon-menu svg{
  color:black;
  font-size: 150%;
}
.icon-menu svg:hover{
  color:#FF9900;
}
.userandbasket li{
  margin-right: 2vw;
}

/* _____________NAVIGATION/MENU-POUR-GRAND-ECRAN__________*/
/* Défintion de comment doit être le menu pour les grands écrans*/
.navpc ol{
  list-style: none;
  display: flex;
}
.navpc li{
  margin: 15px;
  padding-right: 15px;
  border-right: rgb(182, 180, 180) 1px solid;
}

.navmenupc ol a{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.navmenupc ol a:hover{
  color:#FF9900;
  text-decoration: underline;
}

.navmenupc{
  display: none;
}


/* _____________NAVIGATION/MENU-BURGUER-POUR-PETIT-ECRAN__________*/
/* Au depart le menu burguer n'est pas ouvert donc la croix ne doit pas aparaitre */
.croix{
  display:none;
}
/* Défintion de la div contenant la navigation burguer*/
.navmenutel{
  justify-content: flex-end;
  align-items: center;
  margin-left: 10px;
  width: 70%;
}

.burguer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:100%;
}

/* Défintion de la div contenant la navigation qui apparait lorsque l'on clique sur le burguer */
.wrap{
  display: flex;
  justify-content: center;
  height: 98vh;
  width: 100%;
  background-color:#FF9900;
  padding-top: 20px;
}
/* Défintion de la mise en page des liens */
.wrap  a{
  outline: none;
  text-decoration: none;
  color: white;
}
/* Défintion de la mise en page des liens au moment où l'on passe la souris dessus */
.wrap a:hover, a:focus{
  text-decoration: underline;
  color: #FF9900;
  text-underline-position: under;
}
/* Défintion de la mise en page de la navigation des liens*/
.navtel ol{
  list-style: none;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.navtel li{
  margin-top:20px;
}
/* Défintion de la position d'originie de la div contenant la navigation */ 
.wrap{
  transform: translateY(-110vh);
  position: absolute;
  left: 0px;
}
/* Ne pas faire apparaitre la mise en page de base du bouton checkbox */ 
#menutel{
  display:none;
}
/* Lorsque mon bouton checkbox est cliqué donc checked il faut faire descendre la div contenant la navigation*/
#menutel:checked ~ .wrap{
  transform: translateY(1vh);
}
/* Par défault je veux que le symbole buguer soit visible mais pas celui de la croix */ 
.burguer label>span{
  display:none;
}
/* Lorsque mon bouton checkbox est cliqué donc checked il faut faire apparaitre la croix*/
#menutel:checked ~ .burguer label>span{
  display:block;
  font-size:27px;
  line-height:48px;
  color: black;
}
/* Lorsque mon bouton checkbox est cliqué donc checked il faut faire disparaitre le symbole de burguer*/
#menutel:checked ~ .burguer label>svg{
  display:none;
}

/* ______________________________________________________________________________HERO_FULL_IMAGE___________________________________________________________________________*/

.herofullimage{
  background-color:#FFF3DA;
  height: 90vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.grid-fullimage{
  display: grid; 
  grid-template-columns: repeat(5, 1fr); 
  grid-template-rows: repeat(5, 1fr); 
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  max-width: 1400px;
  max-height: 90vh;
  margin: 0 auto;
}

.fisrttitle{
  grid-area: 1 / 1 / 2 / 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 3;
}
.fullimage{
  grid-area: 2 / 1 / 5 / 6;
  justify-self: center;
  align-self: center;
  width: 100%;
}
.buttonandarrow{
  grid-area: 5 / 1 / 6 / 6;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3vh;
}
.icon-down-grid{
  font-size: 200%;
}

.icon-down-arrow{
  bottom: 2vh;
  left: 50%;
  position: absolute;
  font-size: 200%;
  transform: translateX(-50%);
  z-index: 3;
  display: none;
}

.fa-chevron-circle-down{
  margin-top: 7vh;
  color: #FF9900;
  z-index: 3;
}


/* ______________________________________________________________________________SECTIONS WITH 4 PARTIES : concept, cuisnequalite, reasure___________________________________________________________________________*/

.allarticles{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5vh 0;
  padding: 0 7vw;
}

.allarticles article{
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 40px 15px 0px 15px;
}

.line{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.concept,.cook-quality{
  min-height: 55vh;
  width: 100%;
  z-index: 2;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5vh 0vw;
}

.concept figcaption, .cook-quality figcaption{
  color: #FF9900;
  font-weight: 700;
}
.reassure figcaption{
  color:white;
  font-weight: 700;
}

.circle-img{
  width: 50%;
  border-radius: 50%;
  margin-bottom: 3vh;
}

.concept h3, .text-introduction-concept, .cook-quality h3{
  padding: 0 7vw;
  width:100%
}


/* ______________________________________________________________________________TYPICAL CONTENT___________________________________________________________________________*/

.typical-content{
  background-color:#FFF3DA;
  min-height: 75vh;
  align-items: center;
  text-align: center;
  padding: 5vh 7vw;
  width: 100%;
}
.inside-box{
  width:100%;
}

.text-inside-box{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.explantion-inside-box{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin: 5vh 0;
}

.ingredient-box-list{
  list-style-image: url('icones/tick.svg');
  width: 90%;
}
.ingredient-box-list li{
  text-align: left;
}

.fa-plus-circle{
  color: #FF9900;
  margin-right: 3vw;
}

.other-boxs{
  text-decoration:none;
  margin: 2vh 0;
  color: black;
}
.other-boxs:hover{
  text-decoration:underline;
}

.price-list{
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 2vh 0;
  border: #FF9900 2px solid;
  border-radius: 4px;
}

.price-list li{
  border-right: #FF9900 1px solid;
  background-color: white;
  color: #FF9900;
  padding:5px 0;
  width: 100%;
}
.price-list li:last-child{
  border-right:none;
  border-radius: 4px;
}
.price-list li:first-child{
  border-radius: 4px;
}

.price-list li p{
  margin: 0.5vh;
  font-size: 14px;
}


/* ______________________________________________________________________________3 LAST BOXS___________________________________________________________________________*/

.last-box{
  background-color:#FFF3DA;
  min-height: 101vh;
  width: 100%;
}

.next-destination{
  width:80px;
  margin-bottom: 18px;
}

.last-box h4{
  font-size: 24px;
}

.three-boxs{
  filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.25));
  background-color: white;
  border-radius: 4px;
  width: 85%;
  margin-left: 7%;
}

.img-three-boxs{
  width: 100%;
  border-radius: 4px;
  Padding: 20px 20px 0 20px;
}

.title-boxs, .box-prices, .box-destination{
  padding:2vh 5vw;
  width: 100%;
}

.title-boxs, .box-destination{
  text-transform: uppercase;
}
.box-prices,.box-destination{
  border-top: black solid 1px;
}
.box-destination{
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-weight: 700;
}
.marocdest{
  background-color: #E4FADA;
}
.indedest{
  background-color: #E0F3FD;
}
.chinedest{
  background-color: #FAC2C2;
}

.number-notices{
  display: flex;
  justify-content: space-evenly;
  font-size: 14px;
  padding: 0 5vw;
  margin-bottom: 2vh;
}
.note-star{
  color: #FF9900;
}

/* Carroussel FOR 3 LAST BOX and NOTICES______________*/

.carousel{
  width: 115%;
  margin: 2vh 0px 5vh 0px;
}

.carousel-items {
  display: flex;
  overflow-x: scroll;
  padding: 1rem 0;
  scroll-snap-type: x mandatory;
  list-style: none;
}
.carousel-item-box {
  flex: 1 0 280px;
  scroll-snap-align: start;
}
.carousel-item-notices {
  flex: 1 0 270px;
  scroll-snap-align: start;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar {
  height: 6px;
  background-color:white;
}

::-webkit-scrollbar-thumb {
  background-color: #FF9900;
  border-radius: 3px;
}
/* Carroussel FOR 3 LAST BOX and NOTICES______________*/

/* ______________________________________________________________________________EXPERTS AND PASSIONNATE___________________________________________________________________________*/

.experts-passionates{
  background-color:white;
  min-height: 50vh;
  text-align: center;
  padding: 5vh 7vw;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.team-explenations{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.team-text{
  width: 100%;
  text-align: center;
}

.img-team{
  width: 50%;
  border-radius: 50%;
  margin-top: 2vh;
  margin-bottom: 3vh;
}

/* ______________________________________________________________________________NOTICES___________________________________________________________________________*/

hr{
  color: black;
  width: 50%;
}

.notices{
  background-color:white;
  min-height: 51vh;
  width: 100%;
}

.notices p{
  text-align: left;
}

.client-notice{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.client-notice p{
  text-transform: uppercase;
}

.date-notice{
  padding-top: 2vh;
  border-top: black 1px solid;
}

.notice-form{
  filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.25));
  background-color: white;
  border-radius: 4px;
  padding: 20px 20px;
  width: 85%;
  margin-top: 3vh;
  margin-left: 8%;
}

/* ______________________________________________________________________________REASURE___________________________________________________________________________*/

.reassure{
  background-color:#FF9900;
  min-height: 20vh;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5vh 7vw;
}

.reassure figure{
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px 15px 20px 15px;
}

.reassure .icon{
  font-size: 240%;
  margin-bottom: 20px;
}

/* ______________________________________________________________________________FOOTER___________________________________________________________________________*/


footer{
  background-color:white;
  min-height: 52vh;
  text-align: center;
  padding: 5vh 7vw;
  width: 100%;
}
.end-page{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

footer h6{
  padding: 3vh 0;
}

.right-side, .left-side{
  margin-bottom: 30px;
  width: 100%;
}

.title-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: black 1px solid;
  width: 100%;
}

.title-footer ol{
  display: none;
}

.newsletter-subscription{
  display: flex;
  height: 45px;
  width: 100%;
}

.email{
  background-color: #D6C5AD;
  border: none;
  width: 85%;
  padding-left: 15px;
}

.send{
  background-color: #FF9900;
  color: white;
  border: none;
  width: 15%;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.social-media{
  margin: 5vh 0;
  font-size: 300%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}


/* ______________________________________________________________________________MEDIA QUERIES___________________________________________________________________________*/


@media (min-width:500px)and (max-width:849px){
  .fullimage{
    align-self: flex-start;
    max-height: 50VH;
    width: auto;
  }
  .inside-box{
    width:80%;
  } 
}

@media (min-width:600px) and (max-width:1000px){
  .line{
    width: 100%;
    padding: 0 7vw;
  }
  .first{
    background-image: url(icones/poitillie-left.svg);
    background-size: cover;
    background-position: center;
  }
  .second{
    background-image: url(icones/poitillie-right.svg);
    background-size: cover;
    background-position: center;
  }
  .allarticles article {
    width: 40%;
  }
  .allarticles{
    padding: 0 0;
  }

  .carousel-item-box {
    flex: 1 0 400px;
  }
}

@media (min-width:850px){
  .fisrttitle{
    grid-area: 1 / 1 / 4 / 2;
    text-align: left;
    justify-self: flex-start;
  }
  .fullimage{
    grid-area: 1 / 2 / 6 / 6;
  }
  .herofullimage {
    height: 93vh;
  }
  .buttonandarrow{
    grid-area: 4 / 1 / 6 / 2;
    justify-self: flex-start;
    padding-bottom: 0;
  }
  .team-text{
    width: 60%;
    text-align: left;
    margin-left: 2vh;
  } 
  .img-team{
    width: 30%;
  }
  .team-explenations{
    width: 90%;
  }
  .icon-down-arrow{
    display: flex;
  }
  .icon-down-grid{
    display: none;
  }
}

@media (min-width:850px)and (max-width:1410px){
  .fisrttitle{
    margin-left: 8vh;
  }
  .herofullimage .btnsubscribe{
    margin-left: 8vh;
  }
}

@media (min-width:970px){
  .navmenupc{
    display: contents;
  }
  .navmenutel{
    display: none;
  }
  .icon-menu svg{
    color:#FF9900;
  }
  .icon-menu svg:hover{
    color:black;
    size: ;
  }
  h1{
    font-size: 400%;
  }
  h2{
    font-size: 200%;
  }

  .price-list {
    width: 80%;
  }
  .price-list li p {
    font-size: 16px;
  }

  .left-side{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
  }
  .right-side{
    width: 30%;
  }
  .title-footer{
    width: 30%;
    border: none;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
  }
  .icon-arrow-down-sign-to-navigate{
    display: none;
  }
  .title-footer ol{
    display: contents;
  }
  .title-footer li{
    line-height: 240%;
  }
  .social-media {
    font-size: 300%;
    justify-content: space-around;
    width: 30%;
    margin-left: 70%;
  }
  .inside-box {
    width:50%;
    padding-right: 3vw;
  }
  .text-inside-box{
    width:50%;
    padding-left: 3vw;
  }
  .introduction-text{
    font-size: 20px;
  }
}

@media (min-width:1001px){
  .allarticles{
    width: 100%;
    background-image: url(icones/pointille-desktop.svg);
    background-size: cover;
    background-position: center;
  } 
  .line{
    width: 50%;
    flex-wrap: nowrap;
  }

  .last-box .carousel{
    width: 100%;
  }
  .last-box .carousel-items{
    width: 100%;
    overflow-x: hidden;
  }
  .carousel-item-notices{
    flex: 1 0 350px;
  }
}

@media (min-width:1024px) and (min-height:1366px){
  .fisrttitle{
    grid-area: 1 / 1 / 2 / 6;
  }
  .fullimage{
    grid-area: 2 / 1 / 5 / 6;
    justify-self: center;
    align-self: center;
    width: 100%;
  }
  .herofullimage .btnsubscribe{
    grid-area: 5 / 1 / 6 / 6;
    justify-self: center;
    margin-bottom: 15vh;
  }
}

@media (max-height:445px){
  .grid-fullimage{
    grid-template-columns: 2fr repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .fisrttitle{
    grid-area: 1 / 1 / 4 / 2;
    text-align: left;
    justify-self: center;
  }
  .fullimage{
    grid-area: 1 / 2 / 6 / 6;
    max-height: 80VH;
    width: auto;
  }
  .buttonandarrow{
    grid-area: 4 / 1 / 6 / 2;
    justify-self: center;
    align-self: center;
    padding-bottom: 0;
  }
  .icon-down-grid {
    display: none;
  }
}